$color-primary: #393a3f;
$color-secondary: #b70200;
$color-light: #dbdbdb;
$color-mid: #a4a4a4;

$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Montserrat", sans-serif;
$header-font: "Montserrat", sans-serif;
$logo-font: "Oswald", sans-serif;

body {
  font-family: $body-font;
}

h1,
h2,
h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}

header {
  h2 {
    color: $color-light;
  }
}

.logo-img {
  width: 50%;
}

.site-footer {
  background-color: white;
  border-bottom: 1px solid;
  padding: 20px 0;
}

header {
  margin: 0;
  padding: 1rem;
}

.navbar {
  background-color: $color-mid;
}

.carousel {
  border: solid $color-secondary;
}

.carousel-caption {
  background-color: $color-black-transparent;
}
