@import url("../node_modules/font-awesome/css/font-awesome.min.css");
body {
  font-family: "Montserrat", sans-serif; }

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif; }

h2 {
  color: #393a3f; }

header h2 {
  color: #dbdbdb; }

.card {
  background-color: #b70200; }

.fa {
  color: #b70200; }

.logo-img {
  width: 50%; }

.site-footer {
  background-color: white;
  border-bottom: 1px solid;
  padding: 20px 0; }

header {
  margin: 0;
  padding: 1rem; }

.navbar {
  background-color: #a4a4a4; }

.carousel {
  border: solid #b70200; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }
